{% extends "::layout/layout.html.twig" %}

{% block article %}
    <table class =" table table-bordered table-striped table-condensed ">
        <caption>
            <h4>Votre profil</h4>
        </caption>
        <tbody >
            <tr>
                <td >Prénom</td >
                <td >Demande croissante de certaines parties de l' animal
                    pour la mé decine chinoise traditionnelle et
                    fragmentation des habitats du fait du dé veloppement
                    non durable d' infrastructures </td >
            </tr >
            <tr>
                <td >Nom</td >
                <td >Production d' huile de palme et de pâ tes à papiers </
                    td >
            </tr >
            <tr>
                <td >Ville</td >
                <td >Pâte à papier , l' huile de palme et le caoutchouc </
                    td >
            </tr >
            <tr>
                <td >Age</td >
                <td >Les tigres captifs repr é sentent un danger pour les
                    tigres sauvages </td >
            </tr >
            <tr>
                <td >Classement</td >
                <td >Gros appétit pour l' huile de palme </td >
            </tr >
            <tr>
                <td >E-mail</td >
                <td >Commerce ill égal de produits dé rivés de tigres </td >
            </tr >
            </ tbody >
    </table>
    
<div class ="form-group ">
    <button class ="pull-right btn btn-default"><a href ="{{ path('meet_players_meet_players_modifierprofil') }}">Modifier</a></button>
</div>
{% endblock %}